<?xml version="1.0"?>
<launch>

    <include file="$(find car_test)/launch/car_test_3D.launch"/>
    <node name="camera2basefootprint" pkg="tf2_ros" type="static_transform_publisher" args="0.08 0 0.1 0 0 0 /base_footprint /camera_link"/>
    <node name="rplidar2basefootprint" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0.1 0 0 0 /base_footprint /unilidar_imu_initial"/>
    <node name="point2basefootprint" pkg="tf2_ros" type="static_transform_publisher" args="0 0 0.1 0 0 0 /base_footprint /camera_init"/>


</launch>